* {
  margin: 0;
  padding: 0;
  font-family: Bree Serif;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
  width: 100vw;
  padding-bottom: 50px;
}

.main-heading {
  display: flex;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.main-heading-image {
  width: 50px;
}

.heading-text {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.teams-card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media screen and (orientation: landscape) {
  .bg-container {
    display: flex;
    justify-content: center;
  }
  .teams-card-list-container {
    width: 70vw;
  }
}
